html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

div.panel-body {
  padding: 10px;
}

div.panel {
  margin-bottom: 5px;
}
